*

!/cmd
!/cmd/*
!/cmd/app
!/cmd/app/main.go
!/cmd/auth
!/cmd/auth/main.go
!/db
!/db/postgreDB.sql
!/docs
!/docs/rpz
!/docs/rpz/*
!/docs/rpz/pictures
!/docs/rpz/pictures/*
!/gui
!/gui/gui.py
!/internal
!/internal/api
!/internal/api/*
!/internal/auth
!/internal/auth/*
!/internal/bl
!/internal/bl/*
!/internal/da
!/internal/da/*
!/internal/domain
!/internal/domain/*
!/pkg
!/pkg/pkg.go
!/protos
!/protos/auth.proto
!/scrap
!/scrap/ants.py
!/scrap/pltExample.py
!.gitignore
!config.yaml
!Dockerfile
!go.mod
!go.sum
!Makefile
!README.md