*

!/cmd
!/cmd/main.go
!/db
!/db/postgreDB.sql
!/gui
!/gui/gui.py
!/internal
!/internal/api
!/internal/api/*
!/internal/bl
!/internal/bl/*
!/internal/da
!/internal/da/*
!/internal/domain
!/internal/domain/*
!.gitignore
!config.yaml
!Dockerfile
!go.mod
!go.sum
!Makefile
!README.md